apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1" # Diğer uygulamalardan önce deploy et
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.10.0
    helm:
      releaseName: ingress-nginx
      parameters:
        - name: controller.service.type
          value: ClusterIP # Tünel direkt iç ağdan konuşacağı için LoadBalancer şart değil ama ClusterIP yeterli.
        - name: controller.ingressClassResource.default
          value: "true"
        - name: controller.watchIngressWithoutClass
          value: "true"
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
