redis:
  architecture: standalone
  master:
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 256Mi # Small
    persistence:
      enabled: true
      size: 1Gi
  auth:
    enabled: true
    # Security Rule: No In-Repo Secrets
    # Secret must be created manually: kubectl create secret generic redis-secret --from-literal=password=...
    existingSecret: "redis-secret"
    existingSecretPasswordKey: "password"
