metrics-server:
  args:
    - --kubelet-preferred-address-types=InternalDNS,InternalIP,ExternalIP,Hostname
    - --kubelet-use-node-status-port
    - --metric-resolution=15s
    - --kubelet-insecure-tls

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 128Mi

  # OrbStack Compatibility
  extraVolumeMounts:
    - name: kubelet-config
      mountPath: /etc/kubernetes/kubelet.conf
      readOnly: true
  extraVolumes:
    - name: kubelet-config
      hostPath:
        path: /var/lib/kubelet/kubelet.conf
